<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Aplikacja Taco Cloud</title>
    <!--<link rel="stylesheet" th:href="@{/styles.css}" />-->
</head>
<body>
<h1>Przygotuj swój prezent!</h1>
<body style="background-color: #fcf7f5">
<img th:src="@{/images/logoSpookyBooky.png}"/>

<form method="POST" th:object="${search}">
    <div class="grid">
        <div class="book-list-group" id="1">
            <h3>Wybierz książkę:</h3></br>
            <h4>PLATON</h4>
            <div th:each="book : ${worksListPlato}">
                <!--gdy kliknie się jedną wartość to zostanie przesłane
                id jako jedna z wartości parametru book-list-->
                <input name="books-list" type="checkbox" th:value="${book.id}" />
                <span th:text="${book.title}"/>
            </div>
            <h4>ARYSTOTELES</h4>
            <div th:each="book : ${worksListAristotele}">
                <!--gdy kliknie się jedną wartość to zostanie przesłane
                id jako jedna z wartości parametru book-list-->
                <input name="books-list" type="checkbox" th:value="${book.id}" />
                <span th:text="${book.title}"/><br/>
            </div>
            <h4>PRZEDSOKRATEJSCY</h4>
            <div th:each="book : ${worksListPre}">
                <!--gdy kliknie się jedną wartość to zostanie przesłane
                id jako jedna z wartości parametru book-list-->
                <input name="books-list" type="checkbox" th:value="${book.id}" />
                <span th:text="${book.title}"/><br/>
            </div>
        </div>
    </div>
    <!--<div>
        <h3>Nadaj nazwę przygotowanemu taco:</h3>
        <input type="text" th:field="*{name}"/>
        <br/>
        <button>Wyślij swoje zamówienie</button>
    </div>-->
</form>
</body>
</html>